.link-users {
    text-decoration: none;
}

.done {
    color: green;
    background-color: greenyellow;
}

.opsi {
    cursor: pointer;
}

.tr-user {
    padding: 20px;
}

/* pagination */
.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    color: black;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.paginationBttns a:hover {
    color: white !important;
    background-color: black !important;
}