.li-sidebar {
    list-style-type: none;
}

.li-sidebar:hover {
    background-color: rgb(214, 236, 245);
    font-weight: bold;
}

.link,
.span-link {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.logo {
  text-decoration: none;
  color: black;
}
